body{
    background-color: #c9ca2d
}


.dialog{
    display: none;
    background-color: #ffffff;
    width: 800px;
    position: fixed;
    left:50%;
    top:50%;
    transform: translateX(-50%);

    header{
        height:55px;
        background: #00b7ff;

        .title{
            font-size:20px;
            float:left;
            color:white;
            margin: 15px 0 0 15px;
        }

        .btn-close{
            float: right;
            margin: 0 10px 0 0;
            color: #ff0000;
            font-size: 30px;
            font-weight:bold;
            cursor:pointer;
        }
    }

    main{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        clear:both;
        color: #332f33;
        font-size: 20px;
        margin:15px;

        img{
            width:300px;        
        }
    }

    footer{
        margin-top:25px;

        hr{
            border:2px #808080 solid;
        }
        .buttons{
            float: right;
            height:40px;
            margin:10px;
            font-size: 30px;

            a{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                border: 1px #ccc solid;
                padding:5px 10px;
                text-decoration:none;
                color: #333;
                border-radius: 5px;
                margin: 3px;
            }


           a:hover{
               margin: 1px;
               border-radius: 0px;
               padding: 7px 12px;
           }
        }

      }
}